{% extends 'base.html' %}

{% block title %}Home - SPARK App{% endblock %}

{% block content %}
<div class="text-center">
    <h2>Welcome to SPARK</h2>
    <p>Navigate through the app to manage employees, events, and more!</p>

    <ul class="list-group mt-3">
        <li class="list-group-item">
            <a href="{% url 'manage_department' %}">Manage Department</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'manage_designation' %}">Manage Designation</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'manage_emp' %}">Manage Employee</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'manage_event_type' %}">Manage Event Type</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'manage_venue' %}">Manage Venue</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'manage_role' %}">Manage Role</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'manage_event' %}">Manage Event</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'manage_event_participation' %}">Manage Event Participation</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'manage_role_assignment' %}">Manage Role Assign</a>
        </li>
    </ul>
</div>
{% endblock %}
