<!-- admin_dashboard.html -->
{% extends 'base.html' %}

{% block title %}Admin Dashboard{% endblock %}

{% block content %}
    <h2>Welcome, Admin</h2> 
    <p>Manage events, view user participation, and oversee site activities.</p>
    
    <ul class="list-group mt-3">
        <li class="list-group-item">
            <a href="{% url 'manage_department' %}">Manage Department</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'manage_designation' %}">Manage Designation</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'manage_emp' %}">Manage Employee</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'manage_event_type' %}">Manage Event Type</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'manage_venue' %}">Manage Venue</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'manage_role' %}">Manage Role</a>
        </li>
        <li class="list-group-item">
            <a href="{% url 'manage_event' %}">Manage Event</a>
        </li>
       
        

    </ul>
{% endblock %}
